.App {
  /* text-align: center; */
}

.btn {
    width: 20px;
    text-decoration: none;
    color: #000;
}

.input {
    display: inline-block; 
    margin: 0 8px;
    
}

.inputField {
    margin: 0 20px;
}

.section {
    height: auto;
    margin-top: 5%;
}